version: '2.4'

volumes:
  db:
  codeload:

services:
  codeload:
    image: 'quantrocket/codeload:2.9.0'
    volumes:
      - codeload:/codeload
      - ../../mind:/codeload/mind # Mount our 'mind' directory into codeload to sync scripts

  db:
    image: 'quantrocket/db:2.9.0'
    volumes:
      - db:/var/lib/postgresql/data

  flightlog:
    image: 'quantrocket/flightlog:2.9.0'
    volumes:
      - db:/var/lib/postgresql/data

  history:
    image: 'quantrocket/history:2.9.0'
    volumes:
      - db:/var/lib/postgresql/data

  master:
    image: 'quantrocket/master:2.9.0'
    volumes:
      - db:/var/lib/postgresql/data

  fundamental:
    image: 'quantrocket/fundamental:2.9.0'
    volumes:
      - db:/var/lib/postgresql/data

  houston:
    image: 'quantrocket/houston:2.9.0'
    ports:
      - '1969:80'
    depends_on:
      - codeload
      - db
      - flightlog
      - history
      - master

  jupyter:
    image: 'quantrocket/jupyter:4.4.0'
    depends_on:
      - houston
    ports:
      - '8888:8888'
    volumes:
      - codeload:/codeload
      - ../../mind:/codeload/mind
    environment:
      - CODEDIR=/codeload
